*{
    box-sizing:border-box;
}



body{
    font-family:"roboto", sans-serif;
    margin:0;
}


h1{font-size: 3.5em;}
h2{font-size:2.5em;}
h3{font-size: 1.5em;}
p{font-size: 1;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 0% 40px;
    border-radius: 10px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 5);
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: palevioletred;
}
button:hover{
    background-color: rgb(191, 100, 131);
}

.container{
    max-width: 1400px;
    margin:auto;
}

.color-acento{
    color:palevioletred
}

header{
    background-color: rgba(245, 245, 245, 245);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:rgb(27, 25, 25);
    font-size: 1.65em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: palevioletred;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 85vh;
    color: rgb(226, 26, 183);
    background-image: url("/img/lamar1.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;

}

#somos-lamar{

}

#somos-lamar .container{
text-align: center;
padding: 200px 12px;
}

#nuestras-sucursales{
    background-color: rgba(8, 7, 7, 0.877);
    color:white;
    text-align: center;
}

#nuestras-sucursales .container{
    padding: 100px 20px;
}
#nuestras-sucursales h2{
    margin-top: 0;
    font-size: 3.5em;
}

#nuestras-sucursales p{
    display: none;
}

#nuestras-sucursales .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 18px;
    border-radius: 15px;

}

.carta:first-child{
background-image:url(/img/lamar6.jpg) ;
}
.carta:nth-child(2){
    background-image: url(/img/lamar7.jpg);

}

#laboratorios{
    color: rgb(35, 150, 232);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;

}

#laboratorios .container{
    background-image: url(/img/lamar3.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 200px 12px;
}
#laboratorios li{
    margin: 15px 0px;
    font-size: 4.5em;
    font-weight: bold;

}

#listo{
    background-image: url(/img/lamar8.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: rgb(12, 12, 12);
    height: 50vh;
}

#final h2{
    font-size: 9vw;
}

#listo button{
    font-size: 5vw;
}

footer{
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

footer a:hover{
    color: rgb(247, 162, 190);
}
footer p{
    margin:0;
    padding: 12px;
    color: rgb(212, 67, 91);
    
}
footer .container{
    height: 120px;
    display: flex;
    justify-content:center ;
    align-items: center;

}

@media (min-width:720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }

    #somos-lamar .container{
        display:flex;
        justify-content:space-evenly;
    
    }

    #somos-lamar .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 50px;
        flex-direction: column;
        justify-content: center;
    }

    #somos-lamar h2{
        margin-top: 0;
    }

    #somos-lamar .img-somoslamar{
        background-image: url(/img/lamar2.jpg);
        background-size:cover;
        background-position: center center;
        height: 500px;
        width:500px
    }

    #nuestras-sucursales .sucursales{
        display: flex;
        justify-content: center;
    }
    #nuestras-sucursales p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestras-sucursales .carta{
        padding: 20px;
    }


    footer{

    }
    
    footer .container{
        flex-direction: row;
        justify-content: space-between;
    }

    footer nav{
        flex-direction: row;
        padding-top: 0;
        padding-right: 30px;
    }
}
